/*Scroll*/
#scroll {
    content-align: center top;
    max-width: 100;
}


/* GRID LAYOUT */
#body {
    max-width: 100;
    layout: grid;
    grid-size: 2;
    grid-rows: auto auto auto auto;
    grid-gutter: 1;
    padding: 2;
    margin: 0;
    background: #2F6B6B;
    color: #FFEFC5;
}


/*Cells*/
#favicon, #header, #imgSel, #txtSel, #tgl, #out_file, #pwd, #btn {
    height: auto;
    align: center middle;
    max-width: 50;
}


/* LOGO */
#logo {
    width: auto;
    height: auto;
}

/* TITLE */
#title {
    text-style: bold;
    background: #B2964E;
    border: heavy #FFB700;
    color: #FFEFC5;
    content-align: center middle;
    max-width: 45;
}

/* BUTTONS */
#img_select, #text_select, #btn_run {
    background: #3E467A;
    max-width: 25;
}

#btn_run {
    color: #FFB700;
    border: heavy #B2964E;
    max-width: 25;
}

/* SWITCH SLIDER */
#btn_toggle {
    background: #3E467A;
    max-width: 20;
}

#btn_toggle > .switch--slider {
    color: #1737FF;
    background: #5C70EA;
}


/* LABELS */
#lbl_out, #lbl_pwd{
    content-align: right middle;
    color: #FFEFC5;
    max-width: 25;
}

#lbl_encode {
    content-align: right middle;
    color: #FFEFC5;
    max-width: 15;
}

#lbl_decode {
    content-align: left middle;
    color: #FFEFC5;
    max-width: 15;
}

#lbl_img {
    content-align: center middle;
    color: #FFEFC5;
    max-width: 25;
}

/* DIRECTORY TREE */
#tree, #img_select, #text_select {
    height: auto;
    max-width: 80;
    width: 25;
}

#tglSpacer, #outSpacer {
    width: 0;
    max-width: 10;
}